<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <assembly name="MDB.Repositories" />
    <assembly name="MDB.Infrastructure" />
    <assembly name="MDB.Operations" />
    <assembly name="MDB.Entity" />
    <assembly name="MDB.Mappers" />
    <container/>
  </unity>
</configuration>